@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}
<div class="row">
    <div class="col-md-3 position-absolute top-50 start-50 translate-middle">
        <section>
            <div class="card text-center shadow bg-body-tertiary rounded">
                <div class="card-header">

                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Username" class="form-control focus-ring" autocomplete="username" aria-required="true" placeholder="username" />
                            <label asp-for="Input.Username" class="form-label">Username</label>
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary shadow-sm bg-body-tertiary rounded">Log in</button>
                        </div>
                    </form>
                    <hr/>
                    <h5>Or sign in with external providers below:</h5>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="row">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                if (provider.Name == "Google")
                                {
                                    <span class="col">
                                        <button type="submit" class="btn btn-primary shadow-sm bg-body-tertiary rounded" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="bi bi-google"> @provider.DisplayName</i>
                                        </button>
                                    </span>
                                }
                                if (provider.Name == "Microsoft")
                                {
                                    <span class="col">
                                        <button type="submit" class="btn btn-primary shadow-sm bg-body-tertiary rounded" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="bi bi-microsoft"> @provider.DisplayName</i>
                                        </button>
                                    </span>
                                }
                            }
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
